<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="Mastertemplate_MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title>CMS Demo</title>

    <asp:ContentPlaceHolder id="cphHead" runat="server"/>

</head>
<body>
<form id="form1" runat="server">

    <asp:ContentPlaceHolder id="cphBody" runat="server"/>
    
</form>
</body>
</html>