/* Cleans up template in general
 * Restyles tabs, inputs and labels
 * Fixes sidebar height
 * Adds alert box styling <div class='alert (red/blue/yellow/green)'>
 * Adjusts image control so small images aren't stretched to fit, whacks spacing between consecutive controls
 */

body {
	background-color: #fbfbfb;
	font-family: Arial, sans-serif;
	overflow-y: scroll;
}
a {
	transition: color ease 200ms;
	text-decoration: none !important;
}
a:hover {
	color: #90133B !important;
}
body #header {
	background-color: #90133B;
	color: #FFF;
	text-shadow: none;
}
body #header h1, body #header h2, body #header h1 a {
	background: none !important;
	color: #FFF !important;
	text-shadow: none !important;
}
body #secondary_bar {
	background: none;
	color: #404040;
	border-bottom: 1px solid #CCC;
	height: 32px;
	line-height: 32px;
}
#secondary_bar .breadcrumbs_container {
	background: none !important;
}
body .breadcrumbs > a {
	font-weight: normal !important;
	text-shadow: none !important;
	color: #404040 !important;
	transition: background-color ease 200ms;
	height: 32px;
	line-height: 32px;
	margin: 0 !important;
	padding: 0 15px !important;
	transition: color ease 200ms;
}
body .breadcrumbs > a:hover {
	color: #90133B !important;
}
body .breadcrumbs > a:first-child {
	padding-left: 0 !important;
}
#main h2, ul.tabs {
	margin-left: 25px !important;
	padding-left: 0 !important;
	text-indent: 0 !important;
}
#lblLoggedOnUser {
	font-weight: normal !important;
}
#secondary_bar .user, #secondary_bar .user p, #secondary_bar .logout {
	height: 32px !important;
	line-height: 32px !important;
	padding-right: 0.3%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#secondary_bar .logout {
	padding: 0 0 0 25px !important;
	float: right !important;
	width: auto !important;
}
#sidebar {
	background: #F1F1F1 !important;
	margin-top: -5px !important;
}
#main {
	background: none !important;
	padding-bottom: 25px !important;
}
.btn_view_site a {
	line-height: 26px !important;
}
#main h2 {
	color: #404040 !important;
	text-shadow: none !important;
}
#sidebar h3, #sidebar li a.toggleLink, #sidebar a {
	color: #666666 !important;
	text-transform: none !important;
}
#sidebar a:hover {
	color: #90133B !important;
}
#main, #sidebar {
	min-height: 0 !important;
}
ul.tabs {
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	border-radius: 0 !important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	border: 1px solid #DDD !important;
	border-bottom: none !important;
	overflow: hidden;
	height: 30px !important;
	position: relative;
	z-index: 100;
	margin-top: 4px !important;
}
ul.tabs li {
	height: 30px !important;
	line-height: 26px !important;
	padding: 0 10px !important;
	background-color: #FFF !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: border-color ease 200ms, border-width ease 200ms;
	border-radius: 0 !important;
	cursor: pointer !important;
	border-top: 3px solid #FFF;
}
ul.tabs li:hover a {
	color: #90133B !important;
}
ul.tabs li.active {
	box-shadow: none !important;
	border-top-width: 3px !important;
	border-top-color: #90133B !important;
}
ul.tabs li > a:hover {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}
.module {
	margin: 0 !important;
	width: 100% !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	border: 1px solid #DDD !important;
	border-top-left-radius: 0 !important;
}
.module.width_quarter {
	width: 26% !important;
}
.tab_content {
	padding: 0 25px !important;
}
.tab_container {
	margin-top: -1px !important;
}
#main h3 {
	text-transform: none !important;
	color: #404040 !important;
	background: none !important;
	margin: 0 !important;
	padding: 2px 0 0 20px !important;
	height: 30px !important;
	line-height: 30px !important;
	border: none !important;
}
fieldset {
	background: none !important;
	border: none !important;
	padding: 0 !important;
}
.module_content {
	margin: 0 !important;
	padding: 20px !important;
	padding-top: 0 !important;
}
.module_content fieldset > * {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
fieldset label {
	display: block !important;
	text-transform: none !important;
	margin-bottom: 0px !important;
	padding-left: 0 !important;
	padding-right: 10px !important;
	cursor: pointer !important;
}
fieldset label span {
	font-weight: normal;
	margin-left: 10px;
}
fieldset input[type="text"], fieldset input[type="password"], select, .input, textarea {
	width: 100% !important;
	height: 26px !important;
	line-height: 26px !important;
	padding: 0 8px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1) !important;
	border-radius: 3px !important;
	border: 1px solid #CCC !important;
	transition: border-color ease 200ms, box-shadow ease 200ms;
}
fieldset input[type="text"]:focus, fieldset input[type="password"]:focus, select:focus, select:active, .input:focus, textarea:focus {
	border-color: #90133B !important;
	outline: none;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1), 0px 0px 5px #90133B !important;
}
fieldset textarea {
	height: 80px !important;
	line-height: 16px !important;
	font-family: Arial, sans-serif !important;
	padding: 5px 8px !important;
}
fieldset .cke {
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	border-radius: 3px !important;
}
input[type="submit"], a.btn {
	background: #4d9df3 !important;
	border: 1px solid #2e81d9 !important;
	border-radius: 3px !important;
	font-size: 12px !important;
	color: #FFF !important;
	padding: 0 20px !important;
	height: 26px !important;
	line-height: 24px !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	font-family: Arial, sans-serif !important;
	font-weight: bold !important;
	transition: box-shadow ease 200ms;
}
a.btn {
	display: inline-block;
}
input[type="submit"]:hover, a.btn:hover {
	box-shadow: 0px 0px 5px #2c81dc !important;
}
input[type="submit"]:active,input[type="submit"]:focus, a.btn:active, a.btn:focus {
	outline: none;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.25) !important;
}
input[type="submit"].cancel-button, a.btn.red {
	background: #f34d4d !important;
	border-color: #e03b3b !important;
}
input[type="submit"].cancel-button:hover, a.btn.red:hover {
	box-shadow: 0 0 5px #e03b3b !important;
}
input[type="submit"].green,a.btn.green {
	background: #5CDA63 !important;
	border-color: #3FAD32 !important;
}
input[type="submit"].green:hover, a.btn.green:hover {
	box-shadow: 0 0 5px #3FAD32 !important;
}
a.btn {
	line-height: 26px !important;
	color: #FFF !important;
}
.buttons {
	background: none !important;
	border: none !important;
	padding-bottom: 10px !important;
	padding-top: 0 !important;
	margin-top: 0 !important;
}
.gv td:first-child {
	padding-left: 20px !important;
}
.gv th:first-child {
	padding-left: 10px !important;
}
.gv tr:last-child, .gv tr:last-child td {
	border-bottom: 0 !important;
}
.gv th {
	color: #555 !important;
	text-align: left !important;
}
.site_title + p {
	padding-left: 25px !important;
}
.site_title + p + .width_quarter {
	margin-left: 25px !important;
	border-radius: 5px !important;
	margin-top: 20px !important;
	overflow: hidden;
}
.btn_view_site a {
	position: absolute;
	right: 25px;
	margin-top: 14px;
}

.alert, .alert_success {
	display: block;
	padding: 8px 10px !important;
	margin: 8px 20px 14px 20px !important;
	line-height: 16px !important;
	font-size: 12px !important;
	color: #FFF !important;
	border-radius: 5px !important;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25) !important;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.3) !important;
	border: 1px solid rgba(0,0,0,0.25) !important;
	border-left-color: rgba(0,0,0,0.1) !important;
	border-right-color: rgba(0,0,0,0.1) !important;
}
.alert:before, .alert::before, .alert_success:before, .alert_success::before {
	display: inline-block;
	vertical-align: top;
	padding-right: 14px;
	line-height: 16px;
	height: 100%;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	float: left;
	font-family: Consolas;
	font-style: italic;
	content: "i";
}
.alert.blue {
	background: #4FB2D0;
}
.alert.red {
	background: #D04F4F;
}
.alert.green, .alert_success {
	background: #69C263 !important;
}
.alert.yellow {
	background: #C2A863;
}
.alert_success {
	margin: 25px !important;
	text-indent: 0 !important;
}
.alert_success span {
	text-indent: 0 !important;
}

input[type="checkbox"] {
	margin-top: 1px;
}

/* 9 Dec 14 */
.control-container {
	width: auto !important;
	max-width: 26% !important;
}
.control-container h4:first-child {
	margin-top: -10px !important;
}
p.image-dimensions {
	margin-left: 0 !important;
}
.control-container {
	margin-left: 0 !important;
	margin-right: 20px !important;
}
.control-container + .control-container {
	margin-right: 20px !important;
}
.control-container img {
	width: 100% !important;
	border-radius: 3px;
}
.control-container > span.title {
	display: block;
	font-weight: bold;
	padding-left: 4px;
	margin-bottom: 4px;
}
.control-container > span.title > span {
	font-weight: normal;
	margin-left: 10px;
}

div > #sidebar {
	background: none !important;
}
#secondary_bar {
	background-color: #fbfbfb !important;
}

/* 10 Dec 14 */
.cke_contents {
	padding-bottom: 10px !important;
}
fieldset:not(:first-child) {
	margin-top: 5px !important;
}

/* 15 Dec 14 */
.pp_pic_holder #pp_full_res {
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	line-height: none !important;
}
.pp_pic_holder #pp_full_res iframe {
	border-radius: 15px;
	overflow: hidden;
}
.pp_description {
	color: #FFF;
	font-weight: normal !important;
	margin-top: 0 !important;
}
.pp_close {
	display: none !important;
}
.pp_overlay {
	cursor: pointer;
}

/* 24 Dec 14 */
.module_content .alert {
	margin: 8px 0 14px 0 !important;
}

/* 14 Jan 15 */
.cke textarea {
	height: 100% !important;
	width: 100% !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}

/* 05 Feb 15 */
.help-button {
	position: absolute;
	right: 130px;
	top: 10px;
	width: 32px;
	height: 32px;
	background: url('/Admin/images/help.png') no-repeat center;
}
.module.width_half {
	width: 50% !important;
}
#main > .module.width_half {
	margin-left: 25px !important;
	border-top-left-radius: 5px !important;
}
#sidebar h3 {
	text-transform: lowercase !important;
}
#sidebar h3:first-letter {
	text-transform: capitalize !important;
}

/* 17 Feb 2015 */
#sidebar ul.toggle ul li > a {
	transition: padding-left ease 200ms;
}
#main {
	height: auto !important;
}
#sidebar {
	height: 100% !important;
}
body {
	background: none !important;
	background-color: transparent !important;
}
fieldset > label {
	margin-top: 3px !important;
}
fieldset > input[type=checkbox] {
	margin-top: 9px !important;
}
fieldset:first-of-type > label {
	margin-top: 0 !important;
}
fieldset:first-of-type > input[type=checkbox] {
	margin-top: 5px !important;
}
#main h3 {
	text-transform: lowercase !important;
}
#main h3:first-letter {
	text-transform: uppercase !important;
}

/* 05 Mar 15 */
.ep-title {
	background-color: #90133B !important;
	border-bottom-color: rgba(0,0,0,.25) !important;
	color: #FFF;
}
.ep-button-ok {
	background-color: #90133B !important;
	border: none !important;
}

/* 22 Apr 15 */
.segment {
	padding: 15px;
	border-radius: 4px;
	background-color: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 20px;
	height: 3px;
	overflow: hidden;
	cursor: pointer;
}
.segment .segment-title {
	font-size: 14px;
	margin: -6px 0 8px 0;
	color: #333;
	font-weight: bold;
	line-height: 14px;
	transition: background-color ease-in-out 150ms;
}

/* 02 July 15 */
td.thin-cell {
	width: 30px;
	padding-left: 0;
	padding-right: 0;
}
.gv.sortable .ui-sortable-placeholder td {
	padding-bottom: 13px !important;
}
.gv.sortable tr {
	background-color: #FFF;
}
.gv.sortable::after {
	content: "";
	display: block;
	height: 1px;
}

.module hr {
	background-color: #90133B;
	border: none;
	height: 1px;
	margin: 15px 0;
}
.module fieldset + hr {
	margin: 24px 0 15px 0;
}

.buttons .cancel-button:first-child {
	margin-left: 20px;
}

/* 06 July 15 */
.module .keys {
	float: right;
	padding: 8px 20px 0 0;
}
.module .keys > div {
	float: right;
	margin-left: 15px;
}
.module .keys > div > div {
	float: left;
	margin-right: 4px;
	height: 12px;
	width: 12px;
	border: 1px solid rgba(0,0,0,.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 2px;
}
#header img.logo {
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 30px;
}

/* 31 July 15 */
body:after, body::after {
	content: "";
	width: 23%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-color: #F1F1F1;
	border-right: 1px solid #ddd;
}

/* 14 Sep 15 */
#panelMessage,
#panelMessageError {
  position: absolute;
  top: 106px !important;
  right: 26px !important;
}
.alert_info,
.alert_success,
.alert_error {
  width: auto !important;
  margin: 0 !important;
  border: none !important;
  padding-left: 38px !important;
  color: #444 !important;
  font-size: 16px !important;
  text-shadow: none !important;
  font-weight: lighter;
  padding-right: 0 !important;
  line-height: 33px !important;
  height: 32px !important;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAASFBMVEUAAAAgl/cglfQgl/MglvQglfQglvMglfMglvMglvMglfMglvMglvIhlfIglfIhlvIhlvMunPP///+CxPid0fpYsPZXsPae0fpjVdcoAAAAEHRSTlMAIDBAX2CPkL/Az9Df4O/wWhl7RQAAALRJREFUeF6t0tkOgyAUhGE8FhERGNz6/m/apGkAJxh74XfrHzws6lH9MM7ANA6iWvSMbH4pJhNOpo5WDyChP31HQ1VIQEMof3FomvL8yNK2JWT6F3hk72VZkc08IQeQb2BQpHVNKMw3sLhkeQSk40jgfaCyL8uOyn+Bvw4cD8mB5W1yYPigOBA6ag48XxbTN9ftyoOJaIjdzZMTVekjSOzVidAcrlNMe2ReqxYx1gHOGlFP+gBgHSaBmPnvqAAAAABJRU5ErkJggg==') /*/Admin/images/info-blue.png*/ no-repeat left top !important;
}
.alert_info::before,
.alert_success::before,
.alert_error::before {
  display: none !important;
}
.alert_success {
  line-height: 17px !important;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAATlBMVEUAAADH58fK6srJ58nH58rI5sjI5sjJ58nH5cnI5cjH5snI5sjH5sjI5cnI5snI5smw27JMr1BTslfA4sF6xH5Us1iCx4VjumdrvG56xH318zOLAAAAD3RSTlMAIDBfYG9wf4CfoN/g7/DxMa+wAAAAuElEQVR4Xr2T2w6DIBBEhSIiLgyovf3/jzYxhCxuad+cN3MODJFluDhqnOZ5GlUHmwUly+0L1gUXRYvlAU2COXGINIYOUgi8hQTegOVXwfu58RISPOcX20JB8jUBUEWwHQ5bBNfhcEXwx1d6nDk8F9I97ycOzyvSmvPOOK+wqMZeOT+kQjUajjoYVI2Gk/jVaeUcRl5W4pz4dUeIRP1/YBojtjgaMbTEOelBxlDFpvdwrPPeWTVcmw817R4sm4MhpQAAAABJRU5ErkJggg==') /*/Admin/images/checked.png*/ no-repeat left top !important;
}
.alert_error {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAQlBMVEUAAAD3QDD0QDX0Qzb0QjX0QzX0QjT1QjbzQjb0QjX0QzX0Qjb0QjbzQjXzQzX0Qzb4iYH////0TkL929n93Nr3fnXkVXsMAAAAD3RSTlMAIDBfYG9wf4CfoN/g7/DxMa+wAAAAsUlEQVR4Xr2SyxKDIAxFgSIiBgI+/v9XW0vqAJlOdp6FWdwTokH1MHqal2We9J/YrkisL8UxFJNiWHvEjmiHHBmdYSIXYjsFkIMrG7CdtZ7bOARqvpd81Vz2rT9CU2Mpl5E/hY7SJDi8qFH+PrDiSPDYGE2OnoSAt9HlGERBHCG+pPiZw6KO36KOuigQVy1cFrTXnXiejPzDdEYa+q0aMNDNN4pjbwWonaGdD8E7rZ7lDcnWHf7hWgraAAAAAElFTkSuQmCC') /*/Admin/images/cross.png*/ no-repeat left top !important;
}